<div th:fragment="script">
	<!-- latest js -->
	<script src="../../back/assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap js -->
	<script src="../../back/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

	<!-- feather icon js -->
	<script src="../../back/assets/js/icons/feather-icon/feather.min.js"></script>
	<script src="../../back/assets/js/icons/feather-icon/feather-icon.js"></script>

	<!-- scrollbar simplebar js -->
	<script src="../../back/assets/js/scrollbar/simplebar.js"></script>
	<script src="../../back/assets/js/scrollbar/custom.js"></script>

	<!-- Sidebar jquery -->
	<script src="../../back/assets/js/config.js"></script>

	<!-- tooltip init js -->
	<script src="../../back/assets/js/tooltip-init.js"></script>

	<!-- Plugins JS -->
	<script src="../../back/assets/js/sidebar-menu.js"></script>
	<script src="../../back/assets/js/notify/bootstrap-notify.min.js"></script>
	<script src="../../back/assets/js/notify/index.js"></script>

	<!-- Apexchar js -->
	<script src="../../back/assets/js/chart/apex-chart/apex-chart1.js"></script>
	<script src="../../back/assets/js/chart/apex-chart/moment.min.js"></script>
	<script src="../../back/assets/js/chart/apex-chart/apex-chart.js"></script>
	<script src="../../back/assets/js/chart/apex-chart/stock-prices.js"></script>
	<script src="../../back/assets/js/chart/apex-chart/chart-custom1.js"></script>

	<!-- customizer js -->
	<script src="../../back/assets/js/customizer.js"></script>

	<!-- ratio js -->
	<script src="../../back/assets/js/ratio.js"></script>

	<!-- Theme js -->
	<script src="../../back/assets/js/script.js"></script>
</div>